
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="/static/index.css">

</head>

<body>
    <!-- 左侧菜单栏 -->
    {% include  'base/leftmenu.html' %}

    <!-- 右侧内容区域 -->
    <div class="content">
        <div id="user-index">
            <div class="welcome">欢迎{{session["usertype"]}}[{{session["username"]}}]来到数独游戏算法的启发式优化策略</div>
            <img src="/static/index.jpeg" style="width: 100%;height: 700px; margin-top:10px;">
        </div>
    </div>
</body>

</html>