 
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>

 <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>

<body>
    <div class="login-container">
        <h2>登录</h2>
        <form method="POST" action="/login">
            <input type="text" id="username" name="username" placeholder="账号" required>
            <input type="password" id="password" name="password" placeholder="密码" required>
            <button type="submit">登录</button>
            <div style="text-align: right;margin-top: 10px;"><a href="/register">点击注册</a></div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}" style="list-style-type: none">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>