 
<html class="loading" lang="en" data-textdirection="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="author" content="PIXINVENT">
<title>管理后台</title>
<link rel="stylesheet" type="text/css" href="/static/mb/app-assets/css/vendors.css">
<link rel="stylesheet" type="text/css" href="/static/mb/app-assets/css/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="/static/mb/app-assets/css/bootstrap-extended.css">
</head>
<body>
<div class="content-wrapper">
  <div class="content-header ">
    <div class="content-header-left mb-2">
      <h3 class="content-header-title mb-0">登录日志</h3>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
     
 
        <div class="tablebox1">
          <table class="table">
            <thead>
             <tr>
              <th>登录ID</th>
              <th>登录IP</th>
              <th>登录时间</th>
                    </tr>
            </thead>
            <tbody>

              {% for log in logs %}
              <tr>
                  <td>{{ log.username }}</td>
                  <td>{{ log.ip_address }}</td>
                  <td>{{ log.login_time }}</td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
 
	 
			
		  </div>
      </div>
    </div>
  </div>
</div>
	

	


<script src="/static/mb/app-assets/js/vendors.min.js" type="text/javascript"></script> 
<script src="/static/mb/app-assets/js/app-menu.js" type="text/javascript"></script> 
<script src="/static/mb/app-assets/js/app.js" type="text/javascript"></script> 
<script src="/static/mb/app-assets/js/echarts.min.js" type="text/javascript"></script> 
<script src="/static/mb/app-assets/laydate/laydate.js" type="text/javascript"></script> 
<script>
lay('#version').html('-v'+ laydate.v);
laydate.render({
    elem: '#test1'
  ,range: true
  ,theme: '#00B5B8'
});
</script>
</body>
</html>